{% extends "layout.html" %}
{% block flash %}
<div id="spinning_success" class="row-fluid text-center" style="display:none;">
    <div class="alert alert-info"><img id="img-spinner" src="{{ url_for('static', filename='css/libs/images/loading-icon.gif') }}"/></div>
</div>
{% endblock %}
{% block body %}
<div class="container">
  <h2>{{title}}</h2>
<form method="POST" action="{{ url_for('admin.opds_settings') }}">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div class="form-group">
      <label for="opds_exclude_tags">{{_('Exclude Tags from OPDS Catalog')}}</label>
      <input type="text" class="form-control typeahead" autocomplete="off" name="opds_exclude_tags" id="opds_exclude_tags"
             value="{% for tag in opds_exclude_tags %}{{tag.name.strip()}}{% if not loop.last %}, {% endif %}{% endfor %}">
    </div>

    <button name="submit" id="opds_config_submit" class="btn btn-default">{{_('Save')}}</button>
    <a href="{{ url_for('admin.admin') }}" id="config_back" class="btn btn-default">{{_('Cancel')}}</a>
  </form>
</div>
{% endblock %}

